# Dependencies
node_modules

# Build outputs
.output
.nuxt

# Version control
.git
.gitignore

# Tests
test

# Local env files
.env
.env.*
!.env.example

# Editor / OS
.idea
.vscode
*.DS_Store

# Misc
*.log
