# Dependencies
node_modules

# Build outputs
.output
.nuxt

# Version control
.git
.gitignore

# Tests
test
apps/web/test
apps/extension/test
apps/extension/dist

# Local env files
.env
.env.*
!.env.example

# Editor / OS
.idea
.vscode
*.DS_Store

# Misc
*.log
.github
.junie
docs
openspec