@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
    --color-primary: var(--p-primary-color);
    --color-primary-contrast: var(--p-primary-contrast-color);
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

:root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font-family: var(--sans);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-color: var(--p-content-background);
    color: var(--p-text-color);
}
